[submodule "irrlicht"]
	path = irrlicht
	url = https://github.com/zaki/irrlicht
[submodule "dependencies/bzip2-1.0.6"]
	path = dependencies/bzip2-1.0.6
	url = https://github.com/enthought/bzip2-1.0.6
[submodule "dependencies/libjpeg"]
	path = dependencies/libjpeg
	url = https://github.com/LuaDist/libjpeg
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib
[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://github.com/glennrp/libpng
